.btn{
    margin-left: auto;
    display: block;
    margin-top: 40px;
    margin-right: 40px;
}
.slds-card{
    width: 100%;
    min-height: 700px;
    padding: 2rem 1rem;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
}